version: 2.1
orbs:
  snyk: snyk/snyk@0.0.11
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout

      - restore_cache:
            keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-
      - run: yarn install

      - save_cache:
            paths:
                - node_modules
                - ~/.npm
                - ~/.cache
            key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn lint
      - snyk/scan:
          fail-on-issues: false
          monitor-on-build: false
          severity-threshold: medium

      - setup_remote_docker:
          docker_layer_caching: true
      
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t $CIRCLE_USERNAME/CIRCLE_PROJECT_REPONAME:$TAG .
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker push $CIRCLE_USERNAME/CIRCLE_PROJECT_REPONAME:$TAG